body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: aqua;
}


h1.h3{
    color:rgb(0, 7, 219);
}
p{
    color: blueviolet;
    font-size: large;
    font-weight: 800;
}

#gameboard{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square{
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
}
.cross{
    width: 90px;
    height: 90px;
    position: relative;
  transform: rotate(45deg);  //rotating 45 deg
}

.cross::after , .cross::before{
    content: '';
    position: absolute;
    background-color: red;

}
.cross::before{
   left: 50%;
   width: 30%;
   margin-left: -15%;
   height: 100%;
}
.cross::after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
/* Reset Button  */

  .custom-button a {
    color: #ffffff;
    text-decoration: none;
  }
  .custom-button {
    background-color: #6200EE;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #3700B3;
  }
  
  .custom-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(98, 0, 238, 0.4);
  }
  
  .custom-button:active {
    background-color: #BB86FC;
  }
  
  
